# ds_store
**/.DS_Store

# notebooks checkpoints
**/.ipynb_checkpoints/

# pycache
__pycache__/

# excel crap
~$samples_table.xlsx

# multiqc_data folder
data/qualimap/multiqc_data/

# data/simulate_training_data
data/simulate_training_data/*.hdf5

# depth data (too big)
data/variant_filtering/depth/*.regions.bed
data/variant_filtering/depth/*.rd_filter.bed

# missing data (too big)
data/variant_filtering/missing/*.nmiss.bed
data/variant_filtering/missing/*.miss_filter.bed

# demographic inference data (too big)
data/demographic_inference/lpa-*.callable.bed
data/demographic_inference/lpa-*.recode.vcf
data/demographic_inference/lpa-*.pruned.log
data/demographic_inference/lpa-*.popmap.txt
data/demographic_inference/lpa-wel_*
data/demographic_inference/lpa-eel_*
data/demographic_inference/lpa-sel_*

# data
data/genes.bed
data/LYRU2_2A.*
data/mLynRuf2.2.*
data/introgression_scans/lpa-wel_*
data/introgression_scans/lpa-sel_*
data/introgression_scans/lpa-eel_*
data/introgression_scans/*_randomwins/
data/introgression_scans/genes/
data/*.list
data/introgression_scans/*.tsv
data/introgression_scans/*.bed
data/introgression_scans/*.log
data/introgression_scans/*.pi
# testing notebook
tester.ipynb
tester.Rmd
tester.R

fastis/
minitest/
fastas/
fake_fastas/
# data/introgression_scans/lpa-wel_vcf_fastas/
# data/introgression_scans/lpa-wel_randomwins/
# data/introgression_scans/lpa-wel_predictions/
data/introgression_scans/bed_files/
data/introgression_scans/evaluation_withM/
testing_sims_fastas
testing_sims_withM_fastas
testing_sims_fix_fastas
testing_sims
testing_sims_withM

# R stuff
.Rproj.user
.Rhistory
Lynxtrogression_v2.Rproj

# presentation
presentation.key
models.key
models.pdf

# plots
plots/

# shit
shit/
manuscript/
testing_ea.sh
introscans.ipynb
src/introgression_scans/squirri.R
src/introgression_scans/plot_obs_v_rand_windows.py
src/introgression_scans/plot_obs_v_rand_windows_old.py

# file extensions:
*.npz
*.weights
*.vcf
*.hdf5