# ds_store
**/.DS_Store

# notebooks checkpoints
**/.ipynb_checkpoints/

# pycache
__pycache__/

# excel crap
~$samples_table.xlsx

# multiqc_data folder
data/qualimap/multiqc_data/

# depth data (too big)
data/variant_filtering/depth/*.regions.bed
data/variant_filtering/depth/*.rd_filter.bed

# missing data (too big)
data/variant_filtering/missing/*.nmiss.bed
data/variant_filtering/missing/*.miss_filter.bed

# testing notebook
tester.ipynb
tester.Rmd

# R stuff
.Rproj.user
.Rhistory
Lynxtrogression_v2.Rproj