# ds_store
**/.DS_Store

# notebooks checkpoints
**/.ipynb_checkpoints/

# pycache
__pycache__/

# excel crap
~$samples_table.xlsx

# multiqc_data folder
data/qualimap/multiqc_data/

# depth data (too big)
data/variant_filtering/depth/*.regions.bed